.filters {
  margin-top: 94px;

  text-align: center;
  &__list {
    display: inline-flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__btn {
    border-radius: 4px;
    padding: 6px 25px;
    border: none;

    color: $secondary-text-color;
    color: $primary-text-color;
    &:hover {
      color: $third-text-color;
      background-color: $accent-color;
    }
  }
}
